html, body {
    height: 100%;
    margin: 0
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1.0;
    letter-spacing: 0.2px;
}

#page {
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 4fr;
    position: relative;
}

#top-background {
    background-color: rgb(83, 137, 172);
    grid-row: 1;

    background-repeat: repeat-x;
    background-position: top center;
    background-size: 1000px auto;

    animation: cloudsCycle 1s infinite;
}

#bottom-background {
    background-color: rgb(16, 128, 16);
    grid-row: 2;

    background-repeat: repeat-y;
    background-position: top center;
    background-size: auto 800px;

    animation: grassCycle 1s infinite;
}

#name-art {
    width: 100%;
    height: 100px;

    margin: 0 auto 0px auto;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    animation: nameCycle 1s infinite;
}

@keyframes cloudsCycle {
    0%    { background-image: url("assets/pageart/clouds-1.png"); }
    20%   { background-image: url("assets/pageart/clouds-2.png"); }
    40%   { background-image: url("assets/pageart/clouds-3.png"); }
    60%   { background-image: url("assets/pageart/clouds-4.png"); }
    80%   { background-image: url("assets/pageart/clouds-5.png"); }
    100%  { background-image: url("assets/pageart/clouds-1.png"); }
}

@keyframes grassCycle {
    0%    { background-image: url("assets/pageart/grass-1.png"); }
    20%   { background-image: url("assets/pageart/grass-2.png"); }
    40%   { background-image: url("assets/pageart/grass-3.png"); }
    60%   { background-image: url("assets/pageart/grass-4.png"); }
    80%   { background-image: url("assets/pageart/grass-5.png"); }
    100%  { background-image: url("assets/pageart/grass-1.png"); }
}

@keyframes nameCycle {
    0%   { background-image: url("assets/pageart/name-1.png"); }
    20%  { background-image: url("assets/pageart/name-2.png"); }
    40%  { background-image: url("assets/pageart/name-3.png"); }
    60%  { background-image: url("assets/pageart/name-4.png"); }
    80%  { background-image: url("assets/pageart/name-5.png"); }
    100% { background-image: url("assets/pageart/name-1.png"); }
}

#main-content {
    position:absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 280px;
    height: 350px;

    background-color: rgb(83, 137, 172);
    padding: 20px 10px;
    border: 2px solid rgb(9, 9, 92);
    border-radius: 12px;

    text-align: center;
}

h1 {
    color: rgb(9, 9, 92);
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 20px 0;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(9, 9, 92);
    font-size: x-large;
}

a:hover {
    color: rgb(208, 216, 222);
}

p {
    font-family:"Courier Prime", monospace;
    font-size: small;
    color: rgb(208, 216, 222);
    text-align: center;
}